<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">


    <include path="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" />
    <include path="~/Content/assets/vendor/font-awesome/css/font-awesome.min.css" />
    <include path="~/Content/assets/vendor/css/site.min.css" />
    <include path="~/Content/assets/vendor/c3/c3.min.css" />
    <include path="~/Content/assets/vendor/animate-css/vivify.min.css" />

    <include path="~/Content/html/assets/css/site.min.css" />

  </styleBundle>

</bundles>